section {

  margin-top: 1rem;

  .card{
    margin-bottom: 3rem;

    .card-body{

      .card-title{
        font-size: large;
        font-weight: bolder;
      }
    }

    .button-container{

      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }

  }

  .remove{
    display: flex;
    justify-content: center;

    .btn-remove {
      margin-top: 2rem;
      width: 10rem;
      display: flex;
      justify-content: center;
    }
  }
}
